@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  /* PRIMARY */
  --br-b: hsl(220, 98%, 61%);
  /* LIGHT THEME */
  --v-lgray-l: hsl(0, 0%, 98%);
  --v-lgblue-l: hsl(236, 33%, 92%);
  --l-gblue-l: hsl(233, 11%, 84%);
  --d-gblue-l: hsl(236, 9%, 61%);
  --vd-gblue-l: hsl(235, 19%, 35%);
  /* DARK THEME */
  --vd-blue-d: hsl(235, 21%, 11%);
  --vd-d-blue-d: hsl(235, 24%, 19%);
  --l-gblue-d: hsl(234, 39%, 85%);
  --l-gblue-hov-d: hsl(236, 33%, 92%);
  --d-gblue-d: hsl(234, 11%, 52%);
  --vd-gblue-d: hsl(233, 14%, 35%);
  --vd-gblue-darker-d: hsl(237, 14%, 26%);
  --shad-d: hsl(233, 22%, 7%);

  /* gradient colors */
  --grad-one: hsl(192, 100%, 67%);
  --grad-two: hsl(280, 87%, 65%);

  /* MOBILE OPTIONS BACKC */
  --light: #dbdce3;
  --dark: #12131c;

  /*ANY ACTIVE SELECTOR */
  --active: var(--br-b);

  /* FONT SIZE */
  --reg-fs: 18px;
}

* {
  box-sizing: border-box;
}

.dark {
  --main-backcolor: var(--vd-blue-d);
  --todo-color: var(--vd-d-blue-d);
  --text-color: var(--l-gblue-d);
  --text-crossed-c: var(--vd-gblue-d);
  --cont-text-c: var(--d-gblue-d);
  --cont-text-hov: var(--l-gblue-hov-d);
  --shadow-color: var(--shad-d);
  --mobile-opt-backc: var(--dark);
}

.light {
  --main-backcolor: var(--v-lgblue-l);
  --todo-color: var(--v-lgray-l);
  --text-color: var(--vd-gblue-l);
  --text-crossed-c: var(--d-gblue-l);
  --cont-text-c: var(--d-gblue-l);
  --cont-text-hov: var(--vd-gblue-l);
  --shadow-color: var(--l-gblue-l);
  --mobile-opt-backc: var(--light);
}

body {
  margin: 0;
  font-family: "Josefin Sans";
  min-height: 100vh;
  background-color: var(--main-backcolor);
  transition: 0.3s;
}

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(./images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 250px;
  background-position: top center;
  transition: 0.3s;
}

@media (min-width: 768px) {
  main {
    background-size: 100% 275px;
  }
}

main.light-mode {
  background-image: url(./images/bg-desktop-dark.jpg);
}

.core {
  width: 400px;
  margin: 50px auto;
}
@media (min-width: 768px) {
  .core {
    width: 541px;
    margin: 70px auto;
  }
}

.core header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}

.core header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.core header .top p {
  font-size: 24px;
  font-weight: 700;
  color: white;
  letter-spacing: 12px;
}
@media (min-width: 768px) {
  .core header .top p {
    font-size: 35px;
    color: white;
    letter-spacing: 12px;
  }
}

.core header .top img {
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.core header .bottom {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.core header .bottom::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  border: 1px solid var(--text-crossed-c);
  border-radius: 50%;
}

.core header .bottom input {
  padding: 20px;
  padding-left: 60px;
  width: 100px;
  width: 100%;
  font-family: inherit;
  font-size: var(--reg-fs);
  background-color: var(--todo-color);
  border: none;
  border-radius: 3px;
  color: var(--text-color);
  outline: none;
  caret-color: var(--br-b);
  transition: 0.3s;
}

.todos-list {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 47px 31px 0px var(--shadow-color);
  transition: 0.3s;
  margin-bottom: 50px;
}
.order-message {
  font-weight: bold;
  color: var(--text-crossed-c);
  margin: 0;
  text-align: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--text-color);
  font-size: var(--reg-fs);
  background-color: var(--todo-color);
  padding: 20px;
  padding-left: 60px;
  border-bottom: 1px solid var(--text-crossed-c);
  position: relative;
  transition: 0.3s;
}

.todo .left > span {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  border: 1px solid var(--text-crossed-c);
  border-radius: 50%;
  cursor: pointer;
}

.todo span {
  line-height: 0;
}

.todo .left span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo .left span.completed {
  background-image: linear-gradient(135deg, var(--grad-one), var(--grad-two));
}

.todo .left span img {
  width: 11px;
  height: 9px;
}
.todo > span img {
  height: 18px;
  width: 18px;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
}

.todo:hover img {
  opacity: 1;
}

.desktop-opt {
  display: none;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .desktop-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    background-color: var(--todo-color);
    color: var(--text-crossed-c);
  }
}

.desktop-opt button {
  color: var(--text-crossed-c);
  font-size: 16px;
  transition: 0.2s;
}

.desktop-opt button:hover {
  color: var(--text-color);
}

.desktop-opt .categ button {
  font-weight: bold;
}

.desktop-opt .categ button:not(:last-of-type) {
  margin-right: 15px;
}

.mobile-opt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--mobile-opt-backc);
  transition: 0.3s;
}

@media (min-width: 768px) {
  .mobile-opt {
    display: none;
  }
}

.mobile-opt button {
  transition: 0.2s;
  font-size: 16px;
  color: var(--text-crossed-c);
}
.mobile-opt button:hover {
  color: var(--text-color);
}

.mobile-opt .attached {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-crossed-c);
  background-color: var(--todo-color);
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.mobile-opt .deattached {
  margin-top: 15px;
  padding: 15px;
  color: var(--text-crossed-c);
  background-color: var(--todo-color);
  width: 100%;
  text-align: center;
  border-radius: 3px;
}

.mobile-opt .deattached button {
  font-weight: bold;
}
.mobile-opt .deattached button:not(:last-of-type) {
  margin-right: 15px;
}

s {
  color: var(--text-crossed-c);
}

footer {
  text-align: center;
  color: darkcyan;
  font-size: var(--reg-fs);
  font-weight: bold;
  margin-bottom: 20px;
}

footer a {
  color: royalblue;
  font-size: 20px;
}
